<%= form_for Zone.new, url: manuals_path do |f| %>
  <div class="grid grid-auto-rows w-full h-screen px-16">
    <div class='p-8 w-full h-full'>
      <%= link_to zones_path, class: 'flex items-center text-center block w-full h-full bg-blue-500 text-white rounded-xl border-solid border-2 border-blue-900' do %>
        <h1 class="text-4xl text-center w-full">Zones</h1>
      <% end %>
    </div>
    <div>
      <%= f.range_field :first, value: 0, min: 0, max: 599, class: 'w-full', onchange: 'this.form.submit()', oninput: 'this.form.firstInput.value=this.value' %>
      <%= f.number_field :first, value: 0, min: 0, max: 599, class: 'border-2 border-solid rounded-2xl', onchange: 'this.form.submit()', name: 'firstInput' %>
    </div>
    <div>
      <%= f.range_field :last, value: 599, min: 0, max: 599, class: 'w-full', onchange: 'this.form.submit()', oninput: 'this.form.lastInput.value=this.value' %>
      <%= f.number_field :last, value: 599, min: 0, max: 599, class: 'border-2 border-solid rounded-2xl', onchange: 'this.form.submit()', name: 'lastInput' %>
    </div>
    <div>
      <%= f.range_field :brightness, min: 0, max: 255, id: 'slider', class: 'w-full h-full', onchange: 'this.form.submit()' %>
    </div>
    <div class="bg-red-500">
      <%= f.range_field :red, min: 0, max: 255, class: 'w-full h-full', onchange: 'this.form.submit()' %>
    </div>
    <div class="bg-green-500">
      <%= f.range_field :green, min: 0, max: 255, class: 'w-full h-full', onchange: 'this.form.submit()' %>
    </div>
    <div class="bg-blue-500">
      <%= f.range_field :blue, min: 0, max: 255, class: 'w-full h-full', onchange: 'this.form.submit()' %>
    </div>
  </div>
<% end %>
